<div id="slider" class="sm:h-24 h-60 left-0 relative">
  <div class="text-white sm:text-xl text-base text-center">
    {{ selectedTestimonial.text }}
  </div>
  <div class="text-white text-center sm:mt-6 mt-2 font-light">
    - {{ selectedTestimonial.author }}
  </div>
</div>
<div class="absolute bottom-8 w-full sm:pe-56 pe-12">
  <div class="flex justify-center">
    <button
      class="bg-primary text-white text-xl py-3 px-6 me-4"
      (click)="move('backward')"
    >
      <
    </button>
    <button
      class="bg-primary text-white text-xl py-3 px-6"
      (click)="move('forward')"
    >
      >
    </button>
  </div>
</div>
