.text-primary {
  color: #e74c3d;
}

.text-secondary {
  color: #3cadb4;
}

.bg-primary {
  background-color: #e74c3d;
}

.bg-dark {
  background-color: #333333;
}

.bg-secondary {
  background-color: #3cadb4;
}

.parallax-header {
  background-image: url("assets/images/header.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 4s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  33% {
    top: -1.2em;
  }
  66% {
    top: -2.4em;
  }
}

.color-change {
  opacity: 0;
  z-index: -2;
}

.main-div:hover .color-change {
  animation: background-change 0.2s ease-in-out forwards;
}

@keyframes background-change {
  from {
    width: 0;
    background-color: white;
  }
  to {
    width: 100%;
    background-color: #3cadb4;
    opacity: 1;
    z-index: 1;
  }
}

.parallax-section {
  background-image: url("assets/images/gym.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.shadow-text {
  text-shadow: 0 0 5px black;
  color: white;
}

.bg-freestyle {
  background-image: url("assets/images/freestyle.jpg");
  background-size: cover;
}

.bg-boxing {
  background-image: url("assets/images/boxing-trainer.jpg");
  background-size: cover;
}

.bg-building {
  background-image: url("assets/images/body-builder.jpg");
  background-size: cover;
}

.bg-fitness-1 {
  background-image: url("assets/images/fitness-1.jpg");
  background-size: cover;
}

.bg-fitness-2 {
  background-image: url("assets/images/fitness-2.jpg");
  background-size: cover;
}

.bg-strength {
  background-image: url("assets/images/strength.jpg");
  background-size: cover;
}

.trainer-div {
  overflow: hidden;
}

.trainer-div:hover {
  .name-container {
    animation: move-up 0.3s ease-in-out forwards;
  }
  .hidden-container {
    animation: move-up-to-bottom 0.3s ease-in-out forwards;
  }
}

@keyframes move-up {
  to {
    bottom: 80px;
  }
}

@keyframes move-up-to-bottom {
  to {
    bottom: 0px;
  }
}

.bg-payment-card {
  background-image: url("https://decorumsol.com/demos/gym/images/pack-bg.png");
  background-size: cover;
}

.plan:hover {
  animation: scale-up 0.3s ease-in-out forwards;
}

@keyframes scale-up {
  to {
    transform: scale(1.02);
  }
}

.bg-footer {
  background-image: url("assets/images/footer-2.jpg");
  width: 100vw;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  .scroller{
    width: 8em;
  }
  .mobile-wrapper {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
  }
  .parallax-header {
    height: auto;
  }
  .parallax-section {
    height: auto;
  }
}