<div class="mobile-wrapper">
  <div
    class="flex justify-between items-center px-4 py-3 h-14 top-0 sticky w-full bg-white border z-10"
  >
    <img src="assets/images/logo.png" alt="Logo" class="h-full" />
  </div>
  <div class="parallax-header">
    <div class="sm:py-40 py-8 flex flex-col sm:ps-28 px-8 sm:w-1/3 w-full">
      <p class="sm:text-5xl text-4xl font-light text-white">The sweat is</p>
      <div class="scroller sm:text-5xl text-4xl font-semibold mt-4 text-white">
        <span>
          Your fat crying<br />
          Just addictive<br />
          Progress<br />
        </span>
      </div>
      <p class="mt-10 text-white text-lg">
        If you want something you've never had, you must be willing to do
        something you've never done.
      </p>
      <div class="flex mt-14 justify-center sm:justify-start">
        <button class="px-6 py-3 rounded-md bg-white text-primary text-lg">
          Learn More
        </button>
        <button class="ms-4 px-6 py-3 rounded-md bg-primary text-white text-lg">
          Join Now
        </button>
      </div>
    </div>
  </div>
  <div class="sm:p-28 p-8 bg-slate-100">
    <p class="text-center sm:text-5xl text-3xl">Our Classes</p>
    <div class="grid sm:grid-cols-3 grid-cols-1 sm:grid-rows-2 sm:mt-20 mt-8">
      <div class="text-center h-60 border bg-white relative main-div">
        <div class="absolute w-0 h-full color-change">
          <p class="text-white font-light uppercase mt-8 text-2xl">
            Cardio Training
          </p>
          <p class="mt-8 text-white font-light text-lg">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
            aspernatur in libero molestiae impedit.
          </p>
        </div>
        <div class="px-7 py-5">
          <img
            src="https://decorumsol.com/demos/gym/svg/cardio-training.svg"
            alt="Cardio"
            class="h-32 w-32 mx-auto"
          />
          <p class="text-secondary font-light uppercase mt-4 text-2xl">
            Cardio Training
          </p>
        </div>
      </div>
      <div class="text-center h-60 border bg-white relative main-div">
        <div class="absolute w-0 h-full color-change">
          <p class="text-white font-light uppercase mt-8 text-2xl">
            Body Building
          </p>
          <p class="mt-8 text-white font-light text-lg">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
            aspernatur in libero molestiae impedit.
          </p>
        </div>
        <div class="px-7 py-5">
          <img
            src="https://decorumsol.com/demos/gym/svg/body-building.svg"
            alt="body-building"
            class="h-32 w-32 mx-auto"
          />
          <p class="text-secondary font-light uppercase mt-4 text-2xl">
            Body Building
          </p>
        </div>
      </div>
      <div class="text-center h-60 border bg-white relative main-div">
        <div class="absolute w-0 h-full color-change">
          <p class="text-white font-light uppercase mt-8 text-2xl">
            Group Workout
          </p>
          <p class="mt-8 text-white font-light text-lg">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
            aspernatur in libero molestiae impedit.
          </p>
        </div>
        <div class="px-7 py-5">
          <img
            src="https://decorumsol.com/demos/gym/svg/group-training.svg"
            alt="group-training"
            class="h-32 w-32 mx-auto"
          />
          <p class="text-secondary font-light uppercase mt-4 text-2xl">
            Group Workout
          </p>
        </div>
      </div>
      <div class="text-center h-60 border bg-white relative main-div">
        <div class="absolute w-0 h-full color-change">
          <p class="text-white font-light uppercase mt-8 text-2xl">
            Freestyle Training
          </p>
          <p class="mt-8 text-white font-light text-lg">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
            aspernatur in libero molestiae impedit.
          </p>
        </div>
        <div class="px-7 py-5">
          <img
            src="https://decorumsol.com/demos/gym/svg/freestyle-training.svg"
            alt="freestyle-training"
            class="h-32 w-32 mx-auto"
          />
          <p class="text-secondary font-light uppercase mt-4 text-2xl">
            Freestyle Training
          </p>
        </div>
      </div>
      <div class="text-center h-60 border bg-white relative main-div">
        <div class="absolute w-0 h-full color-change">
          <p class="text-white font-light uppercase mt-8 text-2xl">
            Strength Training
          </p>
          <p class="mt-8 text-white font-light text-lg">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
            aspernatur in libero molestiae impedit.
          </p>
        </div>
        <div class="px-7 py-5">
          <img
            src="https://decorumsol.com/demos/gym/svg/strength-training.svg"
            alt="strength-training"
            class="h-32 w-32 mx-auto"
          />
          <p class="text-secondary font-light uppercase mt-4 text-2xl">
            Strength Training
          </p>
        </div>
      </div>
      <div class="text-center h-60 border bg-white relative main-div">
        <div class="absolute w-0 h-full color-change">
          <p class="text-white font-light uppercase mt-8 text-2xl">
            Boxing Gym
          </p>
          <p class="mt-8 text-white font-light text-lg">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
            aspernatur in libero molestiae impedit.
          </p>
        </div>
        <div class="px-7 py-5">
          <img
            src="https://decorumsol.com/demos/gym/svg/boxing-gym.svg"
            alt="boxing-gym"
            class="h-32 w-32 mx-auto"
          />
          <p class="text-secondary font-light uppercase mt-4 text-2xl">
            Boxing Gym
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark sm:py-40 sm:px-28 py-10 px-8 flex items-center justify-center">
    <div class="flex w-full items-center sm:flex-row flex-col-reverse">
      <button
        class="sm:ms-4 px-6 py-3 mt-6 sm:mt-0 rounded-md bg-primary text-white text-lg sm:me-12"
      >
        Join Now
      </button>
      <img
        src="assets/images/marker-arrow-right-light.png"
        alt="marker-arrow-right-light"
        class="sm:block hidden"
      />
      <p class="text-white font-light text-4xl sm:ms-12 sm:text-left text-center">
        Register today and get 3 days free pass!
      </p>
    </div>
  </div>
  <div class="parallax-section">
    <div class="sm:absolute sm:right-10 sm:w-1/3 w-full px-6 sm:px-0 h-full sm:py-40 py-8">
      <div class="h-full flex flex-col sm:items-start items-center">
        <p class="text-4xl font-semibold shadow-text">Fitness and Health</p>
        <p class="mt-4 shadow-text sm:text-left text-center font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          numquam iusto atque impedit quae architecto, animi consequatur
          perspiciatis! Iste eius doloribus ad. Tempore consectetur dolores
          vitae dolor quia quisquam ipsa? Aspernatur officiis quia quasi dolorum
          dolore impedit. Eaque praesentium maxime incidunt modi doloribus
          obcaecati esse reprehenderit culpa, fugit expedita tempore vitae
          recusandae ab magnam aperiam perferendis labore quidem deserunt
          quisquam? Iste sit aperiam impedit libero consectetur quo ut? Optio
          quis alias veniam facere sequi. Omnis, beatae! Alias quia corporis
          animi sit modi, voluptatum in adipisci fugiat vitae excepturi aliquam
          ad?
        </p>
        <button class="px-6 py-3 rounded-md bg-primary text-white text-lg sm:mt-8 mt-4">
          Join Now
        </button>
      </div>
    </div>
  </div>
  <div class="bg-dark sm:p-28 p-8">
    <p class="text-center sm:text-5xl text-3xl text-white font-light">Our Trainers</p>
    <p class="text-center font-light text-white sm:mt-6 mt-2 sm:text-base text-sm">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsam
      veritatis iste natus inventore illum cum quia quasi. Laboriosam architecto
      reprehenderit eum necessitatibus? Sequi dolore laudantium doloribus
      perferendis doloremque ad.
    </p>
    <div class="grid gap-8 sm:grid-rows-2 sm:grid-cols-3 sm:mt-20 mt-5">
      <div class="h-96 relative bg-freestyle trainer-div">
        <div
          class="absolute bottom-0 left-0 bg-primary opacity-70 px-3 py-2 text-center name-container"
        >
          <p class="text-3xl text-white">Amanda Hunt</p>
          <p class="text-white">Freestyle Trainer</p>
        </div>
        <div
          class="absolute w-full bg-primary hidden-container text-center text-white py-2 px-3 -bottom-20"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      <div class="h-96 relative bg-boxing trainer-div">
        <div
          class="absolute bottom-0 left-0 bg-primary opacity-70 px-3 py-2 text-center name-container"
        >
          <p class="text-3xl text-white">Chris Kendall</p>
          <p class="text-white">Boxing Trainer</p>
        </div>
        <div
          class="absolute w-full bg-primary hidden-container text-center text-white py-2 px-3 -bottom-20"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      <div class="h-96 relative bg-building trainer-div">
        <div
          class="absolute bottom-0 left-0 bg-primary opacity-70 px-3 py-2 text-center name-container"
        >
          <p class="text-3xl text-white">James Parker</p>
          <p class="text-white">Body Building</p>
        </div>
        <div
          class="absolute w-full bg-primary hidden-container text-center text-white py-2 px-3 -bottom-20"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      <div class="h-96 relative bg-fitness-1 trainer-div">
        <div
          class="absolute bottom-0 left-0 bg-primary opacity-70 px-3 py-2 text-center name-container"
        >
          <p class="text-3xl text-white">Lara Smith</p>
          <p class="text-white">Fitness Trainer</p>
        </div>
        <div
          class="absolute w-full bg-primary hidden-container text-center text-white py-2 px-3 -bottom-20"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      <div class="h-96 relative bg-fitness-2 trainer-div">
        <div
          class="absolute bottom-0 left-0 bg-primary opacity-70 px-3 py-2 text-center name-container"
        >
          <p class="text-3xl text-white">Simon Bold</p>
          <p class="text-white">Fitness Trainer</p>
        </div>
        <div
          class="absolute w-full bg-primary hidden-container text-center text-white py-2 px-3 -bottom-20"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      <div class="h-96 relative bg-strength trainer-div">
        <div
          class="absolute bottom-0 left-0 bg-primary opacity-70 px-3 py-2 text-center name-container"
        >
          <p class="text-3xl text-white">Micheal Zack</p>
          <p class="text-white">Strength Trainer</p>
        </div>
        <div
          class="absolute w-full bg-primary hidden-container text-center text-white py-2 px-3 -bottom-20"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
    </div>
  </div>
  <div class="p-8 sm:p-28 bg-slate-100">
    <p class="text-center sm:text-5xl text-3xl font-light">Choose your plan</p>
    <p class="sm:mt-8 mt-2 sm:text-base text-sm text-center">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta qui
      quaerat alias obcaecati minus est impedit nostrum. Iste deserunt, quos
      facilis facere totam explicabo. Libero quam tenetur doloribus! Nihil,
      soluta.
    </p>
    <div class="sm:mt-20 mt-5 grid sm:grid-cols-3 gap-8">
      <div class="border flex flex-col plan">
        <div class="bg-dark text-center sm:py-12 py-4">
          <p class="text-white font-xl font-semibold">Silver</p>
        </div>
        <div class="bg-payment-card text-center sm:py-10 py-5">
          <p class="text-5xl font-semibold text-white">
            $59.99<span class="text-xs"> / Month</span>
          </p>
        </div>
        <div class="sm:px-14 px-8 sm:py-12 py-8 text-center sm:text-start bg-white">
          <p>Basic <span class="font-semibold">Equipment</span></p>
          <p class="mt-4">
            <span class="font-semibold">Cardio</span> area access
          </p>
          <p class="mt-4 line-through text-gray-300">
            <span class="font-semibold">Towel</span> service
          </p>
          <p class="mt-4 line-through text-gray-300">
            <span class="font-semibold">Wifi</span> access
          </p>
          <p class="mt-4 line-through text-gray-300">
            <span class="font-semibold">Unlimited</span> dancing, yoga classes
          </p>
          <p class="mt-4 line-through text-gray-300">
            Access to the <span class="font-semibold">VIP Locker</span> Room
          </p>
          <button class="sm:mt-8 mt-4 w-full py-3 bg-secondary rounded-md text-white">
            Purchase
          </button>
        </div>
      </div>
      <div class="border flex flex-col plan">
        <div class="bg-dark text-center sm:py-12 py-4">
          <p class="text-white font-xl font-semibold">Gold</p>
        </div>
        <div class="bg-payment-card text-center sm:py-10 py-5">
          <p class="text-5xl font-semibold text-white">
            $79.99<span class="text-xs"> / Month</span>
          </p>
        </div>
        <div class="sm:px-14 px-8 sm:py-12 py-8 text-center sm:text-start bg-white">
          <p>Basic <span class="font-semibold">Equipment</span></p>
          <p class="mt-4">
            <span class="font-semibold">Cardio</span> area access
          </p>
          <p class="mt-4"><span class="font-semibold">Towel</span> service</p>
          <p class="mt-4"><span class="font-semibold">Wifi</span> access</p>
          <p class="mt-4 line-through text-gray-300">
            <span class="font-semibold">Unlimited</span> dancing, yoga classes
          </p>
          <p class="mt-4 line-through text-gray-300">
            Access to the <span class="font-semibold">VIP Locker</span> Room
          </p>
          <button class="sm:mt-8 mt-4 w-full py-3 bg-secondary rounded-md text-white">
            Purchase
          </button>
        </div>
      </div>
      <div class="border flex flex-col plan">
        <div class="bg-dark text-center sm:py-12 py-4">
          <p class="text-white font-xl font-semibold">VIP</p>
        </div>
        <div class="bg-payment-card text-center sm:py-10 py-5">
          <p class="text-5xl font-semibold text-white">
            $99.99<span class="text-xs"> / Month</span>
          </p>
        </div>
        <div class="sm:px-14 sm:py-12 p-8 sm:text-start text-center bg-white">
          <p>Basic <span class="font-semibold">Equipment</span></p>
          <p class="mt-4">
            <span class="font-semibold">Cardio</span> area access
          </p>
          <p class="mt-4"><span class="font-semibold">Towel</span> service</p>
          <p class="mt-4"><span class="font-semibold">Wifi</span> access</p>
          <p class="mt-4">
            <span class="font-semibold">Unlimited</span> dancing, yoga classes
          </p>
          <p class="mt-4">
            Access to the <span class="font-semibold">VIP Locker</span> Room
          </p>
          <button class="sm:mt-8 mt-4 w-full py-3 bg-secondary rounded-md text-white">
            Purchase
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:p-28 p-8 bg-dark relative w-full">
    <p class="text-center text-white sm:text-5xl text-3xl font-light sm:mb-20 mb-5">Testimonials</p>
    <app-testimonial-carousel></app-testimonial-carousel>
  </div>
  <google-map height="500px" width="100vw" [center]="center" [zoom]="zoom">
    <map-marker [position]="center"> </map-marker>
  </google-map>
  <div class="bg-footer sm:p-28 p-8 shadow-text">
    <p class="sm:text-5xl text-3xl sm:text-start text-center font-light">Contact Us</p>
    <div class="flex sm:mt-12 mt-8 items-center">
      <fa-icon [icon]="faLocation" [size]="'2x'"></fa-icon>
      <div class="flex flex-col sm:ms-8 ms-4">
        <p>ABC Block, XYZ Town,</p>
        <p>Lahore, Pakistan</p>
      </div>
    </div>
    <div class="flex sm:mt-8 mt-4 items-center">
      <fa-icon [icon]="faPhone" [size]="'2x'"></fa-icon>
      <div class="flex flex-col sm:ms-8 ms-4">
        <p>+92-3014466989</p>
      </div>
    </div>
    <div class="flex sm:mt-8 mt-4 items-center">
      <fa-icon [icon]="faEmail" [size]="'2x'"></fa-icon>
      <div class="flex flex-col sm:ms-8 ms-4">
        <p>hamza.iftikhar707@gmail.com</p>
      </div>
    </div>
    <p class="sm:mt-12 mt-8 text-center font-normal text-lg">Copyright &copy; 2023</p>
  </div>
</div>
