@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.text-primary {
    color: #E74C3D;
}

.text-secondary {
    color: #3CADB4;
}

.bg-primary {
    background-color: #E74C3D;
}

.bg-dark {
    background-color: #333333;
}

.bg-secondary {
    background-color: #3CADB4;
}

